@model TranslateModel
@{
}
<div class="text-center">
    <div>BEFORE</div>
    <div>@Html.TextAreaFor(m=>m.textBefore)
    </div>
    <div>AFTER</div>
    <div>@Html.TextAreaFor(m=>m.textAfter)
    </div>
</div>
