@model TranslateModel
@{
}
<div class="text-center">
    <div>BEFORE</div>
    <div style="width: auto; height:auto;">@Model.textBefore
    </div>
    <div>AFTER</div>
    <div style="width: auto; height:auto;">@Model.textAfter
    </div>
</div>
